body {
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 1.5em;
}

.small-text {
	font-size: 0.8em;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.mainTitle {
	text-align:center;
}
.container {
	width: 70%;
	margin: 0 auto;
}
.error-text {
  	color: red;
	font-weight: bold;
}
.inline {
	display: inline-block;
	margin-left: 10px;
}
.filter-options {
	text-align: right;
}
.filter-options select{
	padding: 1px 0;
}
.order-checkbox {
	margin: 0;
	vertical-align: middle;
}
.btn {
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
}
.btn-red {
	background-color: #f44336;
}
.btn-green {
	background-color: #4CAF50;
}

.btn-grey {
	color: #000;
}
.btn-reset {
	padding: 3px 5px;
}

/* Form Style*/

.popupForm {
	display: block;
	text-align: center;
	width: 60%;
	background: #eee;
	padding: 10px 0 30px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.popupForm .close {
	position: absolute;
	right: 15px;
	top: 13px;
	cursor: pointer;
}

.edit-form {
	padding-top: 35px;
}

.formSection {
	width: 100%;
	margin-bottom: 10px;
}

.formSection input, .formSection textarea, .formSection select {
	width: 70%;
}

.btn-remove {
	margin-top: 5px;
	padding: 3px 10px;
}

.ng-invalid.ng-touched, .ng-submitted .ng-invalid {
	border-color: red;
}

.newsfeedList li {
	position: relative;
}

.newsfeedList li:hover .editButtons {
	opacity: 1;
	visibility: visible;
}

.editButtons {
	position: absolute;
	right: 25px;
	top: 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease-in-out;
}

.newsfeedList {
	margin: 20px 0 0;
	padding: 0;
}

.newsfeedList li {
	margin: 0 0 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
}

.newsfeedList li img {
	width: 150px;
	float: left;
	padding-right: 20px;
}

.newsfeedList li .author{
	float: left;
	margin: 0;
	font-style: italic;
}

.newsfeedList li .buttons{
	float: right;
}