<div class="clearfix">
    <img ng-if="articleComponentCtrl.article.image" ng-src="{{articleComponentCtrl.article.image}}"/>

    <div class="">
        <h3>{{articleComponentCtrl.article.title}}</h3>
        <p class="small-text"> <strong>Created on </strong>{{articleComponentCtrl.article.createdDate | date}}</p>
        <p class="small-text" ng-if="articleComponentCtrl.article.updatedDate">
            <strong>Last update on  </strong>{{articleComponentCtrl.article.updatedDate | date}}
        </p>
    </div>
</div>
<p class="article">{{articleComponentCtrl.article.text}}</p>
<div class="clearfix">
    <p class="author"> By {{articleComponentCtrl.article.author || 'Anonymous'}}</p>
    <div class="buttons">
        <button class="btn btn-green" type="button" ng-click="articleComponentCtrl.onEdit()"> Edit</button>
        <button class="btn btn-red" type="button" ng-click="articleComponentCtrl.onDelete()"> Delete</button>
    </div>
</div>
