<div class="popupForm"
     ng-if="editPopupComponentCtrl.visible"
>
    <form class="edit-form" name="editPopupComponentCtrl.newArticleForm" novalidate>
        <button class="close btn btn-red btn-reset"
                ng-click="editPopupComponentCtrl.onClose()"
        >x
        </button>

        <div class="formSection">
            <p>Title</p>
            <input type="text" required
                   ng-model="editPopupComponentCtrl.article.title"
            />
        </div>
        <div class="formSection">
            <p>Image</p>
            <input type="text"
                   ng-model="editPopupComponentCtrl.article.image"
            />
            <br>
            <button class="btn btn-red btn-remove"
                    type="button"
                    ng-click="editPopupComponentCtrl.onRemoveImg()">
                Remove image
            </button>
        </div>
        <div class="formSection">
            <p>Article</p>
            <textarea required
                      ng-model="editPopupComponentCtrl.article.text"
                      rows="8"
            >
            </textarea>
        </div>

        <div class="formSection">
            <button class="inline btn btn-green"
                    type="button"
                    ng-click="editPopupComponentCtrl.save()"
            >Save
            </button>
            <button class="inline btn btn-red"
                    type="button"
                    ng-click="editPopupComponentCtrl.onClose()"
            >Cancel
            </button>
        </div>

    </form>
</div>